* {
  margin: 0;
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;

}

.data_statistics {
  display: flex;
  justify-content: space-between;
}

body{
  background-color: #f5f6fa;
}