* {
  margin: 0;
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-direction: row;

}

.loginBox{
  display:flex
}

.box2 {
  display: flex;
  /* flex-direction: row; */
}

.dropdown_menu {
  /* display: flex; */
  width: 200px;
}

.charts{
  display:flex;
  height: 600px;
  justify-content: space-between;
}

.BarChart{
  width: 1000px;
}

.PieChart{
  width: 600px;
}

.data_statistics {
  display: flex;
  justify-content: space-between;
}

body{
  background-color: #f5f6fa;
}